body {
    background: url('/image/earth.jpg');
    background-repeat: none;
    background-size: cover;
    background-color: black;
}

h1 {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 200px;
    text-align: center;
    z-index: 2;
}
